* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/resources/views/scribe/** linguist-generated=true
/resources/views/vendor/scribe/** linguist-generated=true

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
